
.social-icons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .social-icons a {
    color: #ffffff;
    font-size: 1.5rem;
    transition: color 0.3s;
  }
  
  .social-icons a:hover {
    color: #FF5A5F; /* Cor do ícone ao passar o mouse */
  }
  