.map-container {
    padding-top: 10px;
    margin: 0 auto;
    width: 700px;
    color: #ffffff;
    border: 2px solid #ddd;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative; 
    z-index: 1; 
  }
  
  .map-container .leaflet-container {
    border-radius: 8px;
  }
  
  
  section#turismo {
    position: relative;
    z-index: 0;
    padding: 20px;
  }
  